<div class="container">
  <header><h1>Doubtful Delegator</h1></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Track and compare rewards between pools</h2>

    <div>
      <ul>
        <li>
          <a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a> 
        </li>
        <br>
        <li>
          insert your actual delegation
        </li>
        <li>
          insert a delegation you would have rather done
        </li>
        <li>
          monitor the progress
        </li>
      </ul>
    </div>

  </div>
</div>
